# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # `openssl rand -base64 32` などで生成

# Google (Classroom API)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Microsoft (Outlook & Teams / Graph API)
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=common
